// Specific CSS for your home-page
.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center
}

.card-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
text-align: center;
margin: 50px;
}

.subtitle-container{
padding-top: 30px;
text-align: center;
}

.body{
color: darkgrey;
}

.h1{
color: darkgrey;
}

.line {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
