    <div>
      <div class="footer">
        <div class="container">
          <div class="d-flex justify-content-between">
            <div class="footer-links">
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="footer-copyright">
              This webapp was made with <i class="fas fa-heart"></i> by LaundryMate team.
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bot">
      </div>
    </div>
