<div class="banner">
    <h1>FarmBNB</h1>
    <p>A Selection Of Farm Animals For Rent</p>
</div>

<div class="line">
<hr>
</div>

<div class="subtitle-container">
<div>
  <h2>Our Most Popular Animals</h2>
</div>

<div class="flexbox">
    <div class="card-animal">
      <img src="#"/>
        <div class="card-animal-infos">
          <div>
            <h2>John the Cow</h2>
            <p>'Meeeeeew'</p>
          </div>
        </div>
    </div>
    <div class="card-animal">
      <img src="#"/>
        <div class="card-animal-infos">
          <div>
            <h2>Jack The Sheep</h2>
            <p>'Beeeeeeh'</p>
          </div>
        </div>
    </div>
    <div class="card-animal">
      <img src="#"/>
        <div class="card-animal-infos">
          <div>
            <h2>Albert The Pig</h2>
            <p>Will eat anything</p>
          </div>
        </div>
    </div>
    <div class="card-animal">
      <img src="#"/>
        <div class="card-animal-infos">
          <div>
            <h2>Hector The Chicken</h2>
            <p>'Kot Kot Kot'</p>
          </div>
        </div>
    </div>
</div>

<br>
<a class="button" href="../animals">View Our Entire Catalogue</a>
<br>
