<div class="banner">
  <div class="container">
    <h1>FarmBNB</h1>
    <p>Rent Farm Animals</p>
    <a class="button" href="###">Rent Now</a>
  </div>
</div>

<div>
  <h2>Our Most Rented Animals</h2>
</div>

<div class="card-container">
<div class="card-animal">
 <img src="https://www.pexels.com/photo/brown-cattle-on-green-lawn-grass-during-daytime-162240/"/>
 <div class="card-animal-infos">
  <div>
    <h2>Animal Name Here</h2>
    <p>Animal Description Here</p>
  </div>
 </div>
</div>

<div class="card-animal">
 <img src="https://www.pexels.com/photo/brown-cattle-on-green-lawn-grass-during-daytime-162240/"/>
 <div class="card-animal-infos">
  <div>
    <h2>Animal Name Here</h2>
    <p>Animal Description Here</p>
  </div>
 </div>
</div>

<div class="card-animal">
 <img src="https://www.pexels.com/photo/brown-cattle-on-green-lawn-grass-during-daytime-162240/"/>
 <div class="card-animal-infos">
  <div>
    <h2>Animal Name Here</h2>
    <p>Animal Description Here</p>
  </div>
 </div>
</div>
</div>
