<div class="banner">
    <h1>FarmBNB</h1>
    <p>- A Selection Of Farm Animals For Rent -</p>
</div>

<div class="line">
<hr>
</div>

<div class="subtitle-container">
<div>
  <h2>Our Most Popular Animals</h2>
</div>

<div class="flexbox">
    <div class="card-animal">
      <img src="https://res.cloudinary.com/dzh4zrfev/image/upload/v1676895717/farm_animals.jpg"/>
        <div class="card-animal-infos">
          <h2>John</h2>
          <p>Stray cat</p>
        </div>
    </div>
    <div class="card-animal">
      <img src="https://res.cloudinary.com/dzh4zrfev/image/upload/v1676895717/farm_animals.jpg"/>
        <div class="card-animal-infos">
          <div>
            <h2>Jack</h2>
            <p>Sheep</p>
          </div>
        </div>
    </div>
    <div class="card-animal">
      <img src="https://res.cloudinary.com/dzh4zrfev/image/upload/v1676895717/farm_animals.jpg"/>
        <div class="card-animal-infos">
          <div>
            <h2>Albert</h2>
            <p>Pig</p>
          </div>
        </div>
    </div>
    <div class="card-animal">
      <img src="https://res.cloudinary.com/dzh4zrfev/image/upload/v1676895717/farm_animals.jpg"/>
        <div class="card-animal-infos">
          <div>
            <h2>Hector</h2>
            <p>Chicken</p>
          </div>
        </div>
    </div>
</div>

<br>

<div class="d-flex justify-content-center">
  <%= link_to "View Our Entire Catalogue", animals_path, class: "btn btn-danger text-white col-sm-4 p-3" %>
</div>
<br>
<br>
