<div class="banner">
  <div class="container">
    <h1>FarmBNB</h1>
    <p>A Selection Of Farm Animals For Rent</p>
  </div>
</div>

<div class="subtitle-container">
<div>
  <h2>Our Most Popular Animals</h2>
</div>

<div class="card-container">

<div class="card-animal">
<img src="#"/>
 <div class="card-animal-infos">
  <div>
    <h2>John The Cow</h2>
    <p>Half a ton of fluffiness</p>
  </div>
 </div>
</div>

<div class="card-animal">
<img src="#">
 <div class="card-animal-infos">
  <div>
    <h2>Jack The Sheep</h2>
    <p>'Beeeeeeh'</p>
  </div>
 </div>
</div>

<div class="card-animal">
  <img src="#"/>
  <div class="card-animal-infos">
     <div>
      <h2>Alfred The Pig</h2>
      <p>Litterally our 'walking trash can'</p>
     </div>
  </div>
</div>
</div>
