<div class="banner">
    <h1>FarmBNB</h1>
    <p>Full List of Animals</p>
</div>

<div class="line">
<%# haq added this link_to to the new_animal_path %>
  <div class="d-flex justify-content-center">
    <%= link_to "Add new animal", new_animal_path, class: "btn btn-primary text-white rounded-3" %>
  </div>

<hr>
</div>

<div class="container">
  <%# <div class="row"> %>
    <%# <div class="col-md-3"> %>
      <div class ="card-animal-index">
        <% @animals.each do |animal| %>
            <div style="background-image: url(https://cdn.britannica.com/55/174255-050-526314B6/brown-Guernsey-cow.jpg)">
            <%# style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%#= cl_image_path @article.photo.key, height: 300, crop: :fill')" %>

            <%= link_to animal_path(animal), class:"text-decoration-none" do %>
            <%= animal.name %>
            <% end %>
            </div>
        <% end %>
      </div>
    <%# </div> %>
  <%# </div> %>
</div>

  </div>
<%# link_to "See details", animal_path(@animal), class: "btn btn-primary"%>
