<div class="banner">
    <h1>Farmbnb</h1>
    <p>Full List of Animals</p>
</div>

<div class="line">
<%# haq added this link_to to the new_animal_path %>
  <div class="d-flex justify-content-center">
    <%= link_to "Add new animal", new_animal_path, class: "btn btn-danger text-white col-sm-4 p-3" %>
  </div>

<hr>
</div>

<div class="container p-5">
  <div class="card-animal-index py-4">
    <% @animals.each do |animal| %>
      <%= link_to animal_path(animal) do %>
        <% if animal.photo.attached? %>
          <div class="card-image" style="height: 400px; width 500px; background-size: cover; background-image:
          url(<%= cl_image_path(animal.photo.key) %>)">
        </div>
        <% else %>
          <div class="card-image" style="height: 400px; width 500px; background-size: cover; background-image:
        url('https://res.cloudinary.com/dzh4zrfev/image/upload/v1676895717/farm_animals.jpg')">
        </div>
        <% end %>
        <div class="p-2 text-center">
          <div class ="btn btn-danger col-sm-12 text-center text-white" ><%= animal.name %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
