.banner{
  background-size: cover;
  background-position: center;
}

.banner h1{
  margin-top: 35px;
  font-family:'Trebuchet MS';
  color: black;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

.banner p{
  font-size: 35px;
  font-family:'Trebuchet MS';
  color: rgb(100, 100, 100);
  opacity: 0.75;
  text-align: center;
  margin-top: 0px;
}
