.button{
  color: black;
  background-color: rgb(140, 140, 140);
  padding: 15px 35px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.25s;
}

.button:hover{
  text-decoration: none;
  background-color: black;
  color: white;
  opacity: 0.75;
}
