.card-animal {
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  margin: 30px;
}

.card-animal > img {
  height: 200px;
  width: 250px;
}

.card-animal h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.card-animal p {
  font-size: 12px;
  margin: 0;
}

.card-animal-infos {
  padding: 15px;
  text-align: center;
}

.card-animal-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
