.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .farmbnb-logo img {
  width: 120px;
  margin: -35px -25px;
}

.navbar-lewagon .greeting {
  color: $danger;
  text-align: center;
  padding-left: 100px;
}
